@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

/* Hacer esto siempre
para darle un marco.
Es como nuestro lienzo
de trabajo  */

body {
  margin: 0px;
  padding: 0px;
  background-color: greenyellow;
}

/* ==========================*/

/* .container {
  margin: auto;
  width: 100%;
  height: 100%;
} */
.logo {
  height: 48px;
  width: 120px;
  padding: 40px 0px 0px 40px;
}
.vector {
  margin-left: 36.67%;
  margin-right: 37.43%;
}

input {
  height: 48px;
  width: 577px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.teclado {
  display: flex;
  justify-content: flex-start;
  margin-left: 300px;
  margin-top: 10px;
}

.caja {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  height: 944px;
  width: 400px;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.figura {
  height: 304px;
  width: 336px;
  margin-left: 40px;
  margin-top: 283px;
  border-radius: 0px;
}
.texto {
  position: static;
  width: 336px;
  height: 58px;
  margin-left: 1150px;
  margin-top: -320px;
  z-index: 1;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;

  /* Gray/gray-500 */

  color: #343a40;
}
.boton1 {
  width: 328px;
  height: 67px;
  left: 0px;
  top: 0px;
  margin-left: 150px;

  /* Dark blue/dark-blue-300 */
  color: white;
  background: #0a3871;
  border-radius: 24px;
}

.boton2 {
  width: 328px;
  height: 67px;
  left: 352px;
  top: 0px;
  margin-left: 30px;

  /* Light gray */

  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0a3871;
  box-sizing: border-box;
  border-radius: 24px;
}

.boton {
  display: flex;
  justify-content: flex-start;
}

footer {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
