body {
  width: 0;
  height: 0;
  background: greenyellow;
}

.logo {
  padding: 20px 0 0 50px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}

input {
  margin-inline: 150px;
}

.btn1,
.btn2 {
  margin-top: 120%;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
}

.btn1 {
  margin-left: 20%;
}

footer {
  position: absolute;
  text-align: center;
}
